.Home {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 66%;
  gap: 12px;

  &__input {
    color: green !important;
  }

  &__buttons {
    display: flex;
    gap: 12px;

    &__button {
      flex: 1;
      background: rgb(32, 161, 32) !important;
      &:hover {
        background: rgb(28, 141, 28) !important;
      }
    }
  }
}

h2 {
  color: rgb(32, 161, 32);
  font-size: 32px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 14px;
    font-weight: bold;
  }
}
