.About {
  margin: 0 auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 66%;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 28px;
    font-weight: bold;
    background: -webkit-linear-gradient(#61db3f, rgb(58, 210, 58));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .About {
    margin-bottom: 12px;
    margin-top: 12px;
    text-align: center;
    font-size: 16px;
  }
}
